.playerStat {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.playerStat__image {
    align-items: flex-start;
}


.playerStat__image img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}


.playerStat__label {
    border: 1px solid black;
    padding: 2rem;
}