
.header {
    background-color: #060b26;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header__nav {
    margin-left: 10%;
    display: flex;
}


.header__nav-item {
    display: flex;
    padding: 8px 16px 8px 16px;
}

.header__nav-item:hover {
    transition: 2s;
    background-color: #1a83ff;
}

.header__nav-item a {
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    color: white;
}



.header__authentication {
    display: flex;
    margin-left: 25%;
}











.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}


.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
